<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>VoiceNote</title>
    <meta name="description" content="A VoiceNote App that allows you to take voice and/or text notes and analyze content">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <!-- Custom Style Sheet -->
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap CDN CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/cerulean/bootstrap.min.css" rel="stylesheet" integrity="sha384-0Mou2qXGeXK7k/Ue/a1hspEVcEP2zCpoQZw8/MPeUgISww+VmDJcy2ri9tX0a6iy" crossorigin="anonymous">


</head>

<body>
  <header>
    <nav class="navbar navbar-static-top">
    <ul class="nav">
      <div class="nav" ng-controller="signCtrl">
        <!-- link to home -->
        <li><a href="#home">Home</a></li>
        <!-- link to the history -->
        <li class="nav-item"><a href="/history">History </a></li>
        <% if (!currentUser){ %>
            <!-- link to the Login -->
            <li class="nav-item"><a class="nav-link" href="/register">Sign In</a></li>
        <% } else{ %>
            <!-- link to the Logout -->
            <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
        <% } %>
      </div>
    </ul>
    </nav>
  </header>

    <div class="container-fluid align-center">
      <img src="image/columbia.jpeg" alt="Snow" style="width:100%;padding:none" >
      <div class="centered">VoiceNote</div>
        <p class="page-description">Take notes by recording and analyze the content using machine learning technology.</p>
        <hr>
        <h3 class="no-browser-support">Sorry, Your Browser Doesn't Support the Web Speech API. Try Opening This Demo In Google Chrome.</h3>
        <div class="app">

          <!-- All button -->
          <button id="start-record-btn" class="btn-success" title="Start Recording">Start</button>
          <button id="pause-record-btn" class="btn-warning" title="Pause Recording">Pause</button>
          <button id="save-note-btn" class="btn-info" title="Save Note">Save</button>
          <button id="analysis-note-btn" class = 'btn-danger'>Analyze</button>

          <p id="recording-instructions">Press the
              <strong>Start</strong> button and allow access.</p>
          <!-- /row -->
            <div class="row">
                <div class="col-md-6 align-center">
                    <h3>Add New Note</h3>
                    <div class="input-single">
                        <textarea  id="note-textarea"  class = 'textarea' placeholder="Create a new note by starting voice recognition." rows="6"></textarea>
                    </div>
                </div>
                <div class="col-md-6 align-center">
                  <h3>Analysis Result</h3>
                  <div class="input-single">
                      <div id="output-textarea" class = 'textarea' placeholder="Analysis Output"  rows="6">

                      </div>
                  </div>
                </div>
            </div>



        </div>
        <!-- /app -->
    </div>

    <!--
    <div id="footer">
        <div class="clearfix1">
            <div class="container">
                <div class="row">
                    <div class="center">
                        <p>Speech to Text Voice Note App 2018</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="./js/script.js"></script>
</body>
</html>


<!--Hide for now
  <span class="date">${note.date}</span>
  <a href="#" class="listen-note" title="Listen to Note">Listen to Note</a>
  <a href="#" class="delete-note" title="Delete">Delete</a> -->
