<head>
  <%# <link rel="stylesheet" href="css/style.css"> %>
  <%# <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"> %>
  <%# <meta name="viewport" content="width=device-width, initial-scale=1" /> %>
  <title>Sign in</title>
  <%# <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> %>
  <!-- Bootstrap CDN CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/cerulean/bootstrap.min.css" rel="stylesheet" integrity="sha384-0Mou2qXGeXK7k/Ue/a1hspEVcEP2zCpoQZw8/MPeUgISww+VmDJcy2ri9tX0a6iy" crossorigin="anonymous">

</head>


<h2>Sign up form</h2>

<form action="/register" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Signup</button>
</form>

<h2> Or login here</h2>
<form action="/login" method="POST">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <button>Login</button>
</form>
