.PERSON {
  color:  #DB4436;
}
.ORGANIZATION {
  color: #0001FF;
}
.OTHER {
  color: #810000;
}
.LOCATION {
  color: #008001;
}

.COUNSUMER_GOOD {
  color: #800080;
}
.EVENT {
  color: #B29838
}
.WORK_OF_ART {
  color:#FF8C01
}
.PHONE_NUMBER{
  color: #469990

}
.ADDRESS{
  color: #64B5CD
}
.DATE{
  color: #FB9A99
}
.NUMBER{
  color:#B2DF8A
}
.PRICE{
  color:#FFDA2F
}

#output-textarea {
  width: 80%;
  margin: auto;
  padding-top: 20px

}

ul {
    list-style: none;
    padding: 0;
}

p {
    color: #444;
}

button {
    margin-bottom: 20px;
    padding: 10px 10px;
}

button:focus {
    outline: 0;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 30px 50px;
    text-align: center;
}

.container h1 {
    margin-bottom: 20px;
}

.page-description {
    font-size: 1.1rem;
    margin: 0 auto;
      position: absolute;
  top: 75%;
  left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.tz-link {
    font-size: 1em;
    color: #1da7da;
    text-decoration: none;
}

.no-browser-support {
    display: none;
    font-size: 1.2rem;
    color: #e64427;
    margin-top: 35px;
}

.app {
    margin: 40px auto;
}

#note-textarea {
    margin: 20px 0;
    width: 80%;
}

#recording-instructions {
    margin: 15px auto 60px;
}

#notes {
    padding-top: 20px;
}

.note .header {
    font-size: 0.9em;
    color: #888;
    margin-bottom: 10px;
}

.note .delete-note,
.note .listen-note {
    text-decoration: none;
    margin-left: 15px;
}

.note .content {
    margin-bottom: 30px;
}

.align-center img {
    padding-top: 10px;
}

.align-center {
    text-align: center;
}

.center {
    text-align: center;
    width: 100%;
}

@media (max-width: 768px) {
    .container {
        padding: 50px 25px;
    }
    button {
        margin-bottom: 20px;
        padding: 10px 10px;
        width: 80%;
    }
}

.centered {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
    color: white;
    font-size: 70px;
}
